.item-container {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;

  .go-back {
    font-size: 16px;
    cursor: pointer;

    .arrow-left {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(135deg);
      margin-bottom: 1px;
      margin-right: 5px;
    }
  }

  .item-container-header {
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    margin: 20px 0 20px 0;
  }

  .itembox {
    .itembox-header {
      font-size: 26px;
      font-weight: 700;
      margin: 15px 0 15px 0;
      line-height: 24px;
    }
  }
}
